<section id="about" class="about-section section-padding">
  <div class="container">
    <div class="about-grid">
      <div class="logo-reveal-container glass">
        <!-- Cinematic Background & Particles -->
        <div class="cinematic-bg">
          <div class="smoke"></div>
        </div>
        <div class="particles-container">
          <div
            class="particle p1"
            style="
              top: 20%;
              left: 10%;
              --dx: 30px;
              --dy: -40px;
              --duration: 6s;
              width: 4px;
              height: 4px;
            "
          ></div>
          <div
            class="particle p2"
            style="
              top: 80%;
              left: 15%;
              --dx: -20px;
              --dy: -30px;
              --duration: 5s;
              width: 3px;
              height: 3px;
            "
          ></div>
          <div
            class="particle p3"
            style="
              top: 40%;
              left: 80%;
              --dx: 40px;
              --dy: 20px;
              --duration: 7s;
              width: 5px;
              height: 5px;
            "
          ></div>
          <div
            class="particle p4"
            style="
              top: 70%;
              left: 75%;
              --dx: -30px;
              --dy: -50px;
              --duration: 4s;
              width: 3px;
              height: 3px;
            "
          ></div>
          <div
            class="particle p5"
            style="
              top: 15%;
              left: 60%;
              --dx: 20px;
              --dy: 30px;
              --duration: 8s;
              width: 4px;
              height: 4px;
            "
          ></div>
        </div>

        <!-- Removed redundant logo reveal -->
      </div>

      <div class="about-content">
        <span class="section-kicker motion-item">{{ i18n.t('about.kicker') }}</span>
        <h2 class="section-title motion-item">{{ i18n.t('about.title') }}</h2>
        <p class="section-copy motion-item">{{ i18n.t('about.body') }}</p>

        <div class="values-list">
          <article class="value-item motion-item" *ngFor="let value of values">
            <span class="value-index">{{ value.index }}</span>
            <div>
              <h3>{{ i18n.t(value.titleKey) }}</h3>
              <p>{{ i18n.t(value.bodyKey) }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
